body {
  font: 16px/1.4 Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  margin: 0 auto
}

.downsized {
  width: 75%;
  margin: 0 auto;
}

.pushy {
  margin-bottom: 2em;
  margin-top: 1em;
}

.operation {
  margin: 0 auto;
  display: inline-block;
  height: 100%;
}

img {
  display: block;
}

#board {
  position: relative;
  height: 100%;
  width: 400px;
  background-image: url("../imgs/operation.png");
  background-repeat: no-repeat;
}

p {
  margin: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Write Your Styles below!!!   */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.wishbone {
  position: absolute;
  margin-top: 13%;
  margin-left: 43%;
}

.breadbasket {
  position: absolute;
  margin-top: 75%;
  margin-left: 48%;
  -webkit-transform: rotate(-14deg); /* Chrome, Safari, Opera */
  transform: rotate(-14deg);
}

.heart {
  position: absolute;
  margin-top: 19%;
  margin-left: 59.5%;
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.butterflies {
  position: absolute;
  margin-top: 48%;
  margin-left:54%;
}
