div.flex-container {
  border: solid red 1px;
  height: 400px;
  width: 400px;

/*  flex stuff*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.flex-item {
  border: 2px dotted blue;
  height: 100px;
  width: 100px;
  text-align: center;
}

body {
  border: 2px dotted green;
  padding: 20px;
}
